html, body, #root {
    overflow-x: hidden;
    height: 100%;
  }

  .ant-layout {
    min-height: 100vh;
  }
  

.assignment-card {
  position: relative;
}

@media (min-width: 1200px) {
  .assignment-card {
    position: sticky;
    top: 24px;
  }
}
