* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.modal-config-title {
  font-size: 12px;
  letter-spacing: 0.7px;
  margin: 0;
}

.small-desc .ant-descriptions-item-content {
  font-size: 12px;
  letter-spacing: 0.7px;
}
.small-desc .ant-descriptions-item-label {
  font-size: 12px;
  letter-spacing: 0.7px;
}
